body {
  background-color:lightblue;
}
h1 {
  color: red;
  text-align: center;
  color:red;
  background:skyblue;
  border:30px dashed black;
  padding:50px;
  margin:30px;
  width:px;
  font-family: 'Bree Serif', serif;
}
