body {
  background-color: lightblue;
}
h1  {
  text-align: center;
  color: yellow;
  background: red;
  border:30px dashed black;
  padding:50px;
  margin:30px;
  width:px;
  }
p {
  text-align: center;
  color: blue;
  background: yellow;
  border:30px dashed black;
  padding:50px;
  margin:30px;
  width:px;
}
img{
  text-align: center;
}
