body{
  background-color:gold;
}
h1 {
  color: red;
  text-align: center;
  color:red;
  background:skyblue;
  border:30px dashed black;
  padding:50px;
  margin:30px;
  width:px;
  font-family: 'Bree Serif', serif;
}
p {
  font-family: 'Indie Flower', cursive;
color:red;
background:skyblue;
border:30px dashed black;
padding:50px;
margin:30px;
  }
img {display: block;
  margin-left: auto;
  margin-right: auto;
  display: blocks;
}
@import 'https://fonts.googleapis.com/css?family=Bree+Serif|Indie+Flower';
li {
  display: block
}
